@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
    font-family: 'Open Sans',serif;
}

section{
    background-image: url(../../img/banner-hero-3.jpg);
    background-size: cover;
    height: 100vh;
}

section::before{
    content: ""; 
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(120deg, #409349, #265f2d);
    opacity: 0.8;
    z-index: 0;
}

h2{
    position: relative;
    color: white;
    font-size: 3rem;
    padding-bottom: 50px;
    font-weight: 700;
}

